/Bin/Debug/AppManifest.xaml
/Bin/Debug/Assets/ApplicationIcon.png
/Bin/Debug/Assets/Tiles/FlipCycleTileLarge.png
/Bin/Debug/Assets/Tiles/FlipCycleTileMedium.png
/Bin/Debug/Assets/Tiles/FlipCycleTileSmall.png
/Bin/Debug/Assets/Tiles/IconicTileMediumLarge.png
/Bin/Debug/Assets/Tiles/IconicTileSmall.png
/Bin/Debug/Microsoft.Phone.Controls.Toolkit.dll
/Bin/Debug/Microsoft.Phone.Controls.dll
/Bin/Debug/Newtonsoft.Json.dll
/Bin/Debug/Properties/WMAppManifest.xml
/Bin/Debug/ValueThing.dll
/Bin/Debug/ValueThing.pdb
/Bin/Debug/ValueThing_Debug_AnyCPU.xap
/ValueThing.v11.suo
/obj/Debug/App.g.cs
/obj/Debug/App.g.i.cs
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/MainPage.g.cs
/obj/Debug/MainPage.g.i.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/ValueThing.Resources.AppResources.resources
/obj/Debug/ValueThing.csproj.FileListAbsolute.txt
/obj/Debug/ValueThing.csproj.GenerateResource.Cache
/obj/Debug/ValueThing.csprojResolveAssemblyReference.cache
/obj/Debug/ValueThing.dll
/obj/Debug/ValueThing.g.resources
/obj/Debug/ValueThing.pdb
/obj/Debug/XapCacheFile.xml
